h1{
	color: white;
    background-color: purple;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    width: 100%;
}

p{
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	color: purple;
}
